#imp-status {
  width: 80%;
  margin: 0px;
}

#imp-slider {
  display: none;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#imp-buttons {
  display: none;
  margin: 0px;
  padding: 0px;
}

body {
  background: rgba(0, 0, 0, 0.6);
  width: 200px;
  color: white;
}
