.imp-control {
  margin: 10px;
  padding: 5px;
  border-radius: 40% / 50%;
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  position: sticky;
  pointer-events: all;
  visibility: visible;
}

#imp-connecting {
  display: inline-block;
  width: 80%;
}

#imp-slider {
  display: none;
}


body {
  background: rgba(0, 0, 0, 0.6);
}
